body{
	background-color: yellow;
}
*{
	box-sizing: border-box;
}
div{
	background-color: red;
}
p{
	width: 50%;
	border: 1px solid black;
	float:left;
	padding: 10px;
}
#p1{
	background-color: purple;
}
#p2{
	background-color: blue;
}
section{
	clear: left;
}